.elementor-64 .elementor-element.elementor-element-e8593c5 {margin-top: 2px;margin-bottom: 2px;padding: 6px 6px 6px 6px;}
.elementor-64 .elementor-element.elementor-element-0fda73f .elementor-heading-title {color: #716969;}
.elementor-64 .elementor-element.elementor-element-c595618 .elementor-heading-title {color: #7a7a7a;}
.elementor-64 .elementor-element.elementor-element-ad93bb4 {line-height: .1em;letter-spacing: .6px;}
.elementor-64 .elementor-element.elementor-element-ad93bb4 .elementor-text-editor {columns: 1;}
.elementor-64 .elementor-element.elementor-element-ba09e81 .elementor-heading-title {color: #7a7a7a;}
.elementor-64 .elementor-element.elementor-element-6d09708 {color: #7a7a7a;}
.elementor-64 .elementor-element.elementor-element-6d09708 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: -15px -15px -15px -15px;}
.elementor-64 .elementor-element.elementor-element-c8cbc5e .elementor-heading-title {color: #7a7a7a;}